




<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LMS</title>

    <%-include("includes/head.ejs")%>
  </head>

  <body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <%-include("includes/admin-sidebar")%>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <%-include('includes/header')%>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                  <div class="page-block">
                    <div class="row align-items-center">
                      <div class="col-md-12">
                        <div class="page-header-title">
                          <h5 class="m-b-10">Book List</h5>
                        </div>
                        <ul class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a href="book-list.html"
                              ><i class="feather icon-home"></i
                            ></a>
                          </li>
                          <li class="breadcrumb-item">
                            <a href="#!">Book List</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <!-- [ Main Content ] start -->
                <div class="row">
                  <!-- [ task-list ] start -->
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>Book List</h5>
                        <div class="card-header-right">
                          <a href="/issue/new-book-issue" class="btn btn-primary"
                            ><i class="fa fa-plus"></i> Add Book</a
                          >
                        </div>
                      </div>
                      <div class="card-body task-data">
                        <div class="table-responsive form-material">
                          <table
                            id="simpletable"
                            class="table dt-responsive task-list-table table-striped table-bordered nowrap"
                          >
                             <thead>
                             <tr>
                                 <th>ID</th>
                                 <th>Student Name</th>
                                 <th>Issue Date</th>
                                 <th>Return Date</th>
                                 <th>Status</th>
                             </tr>
                            </thead>

                            <tbody class="task-page">
                             <% issue_list.forEach((data, index) => { %>
                                 <tr id="row-<%=data.id%>">
                                        <td><%= data.id %></td>

                                        <td><%= data.student_name %></td>

                                      <td><%= data.issue_date.toString().substring(0, 15) %></td>

                                      <td><%=data.return_date%></td>
                                      <td><%=data.status%></td>
                                    </tr>
                                <% }) %>

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- [ task-list ] end -->
                </div>
                <!-- [ Main Content ] end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- [ Main Content ] end -->
    <!-- Required Js -->
    <script src="/js/vendor-all.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/pcoded.min.js"></script>
    <script>

    async function deleteBook(bookId){

            const confirmDelete = confirm(
                "Are you sure you want to delete this book?"
            );

            if (!confirmDelete) return;

            try {

                const response = await fetch(`/book/delete/${bookId}`, {

                    method: "DELETE"

                });

                const data = await response.json();

                if (response.ok) {

                    alert(data.message);

                    const row = document.getElementById(`row-${bookId}`);

                    row.remove();

                } else {

                    alert(data.message || "Delete failed");

                }

            } catch (error) {

                console.log(error);

                alert("Server Error");

            }

        }

</script>

    <!-- Data tables.js -->
    <!-- <script src="/plugins/data-tables/js/datatables.min.js"></script> -->

    <!-- <script type="text/javascript">
      setTimeout(function () {
        $("#simpletable").DataTable();
      }, 600);
    </script> -->
  </body>
</html>

