<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LMS</title>

    <%-include("includes/head.ejs")%>
  </head>

  <body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <%-include("includes/admin-sidebar")%>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <%-include('includes/header')%>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                  <div class="page-block">
                    <div class="row align-items-center">
                      <div class="col-md-12">
                        <div class="page-header-title">
                          <h5 class="m-b-10">Student List</h5>
                        </div>
                        <ul class="breadcrumb">
                          <li class="breadcrumb-item">
                            <a href="student-list.html"
                              ><i class="feather icon-home"></i
                            ></a>
                          </li>
                          <li class="breadcrumb-item">
                            <a href="#!">Student List</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <!-- [ Main Content ] start -->
                <div class="row">
                  <!-- [ task-list ] start -->
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <h5>student List</h5>
                        <div class="card-header-right">
                          <a href="/student/new-student" class="btn btn-primary"
                            ><i class="fa fa-plus"></i> Add Student</a
                          >
                        </div>
                      </div>
                      <div class="card-body task-data">
                        <div class="table-responsive form-material">
                          <table
                            id="simpletable"
                            class="table dt-responsive task-list-table table-striped table-bordered nowrap"
                          >
                            <thead>
                             <tr>
                                 <th>Library ID</th>
                                 <th>Student Name</th>
                                 <th>Student Age</th>
                                 <th>Email ID</th>
                             </tr>
                            </thead>

                            <tbody class="task-page">
                             <% students?.forEach((student, index) => { %>
                                 <tr id="row-<%=student.id%>">
                                        <td><%= student.library_id %></td>

                                        <td><%= student.student_name %></td>

                                       <td><%= student.student_age%></td>

                                      <td><%= student.email_id %></td>
                                    </tr>
                                <% }) %>

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- [ task-list ] end -->
                </div>
                <!-- [ Main Content ] end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- [ Main Content ] end -->
    <!-- Required Js -->
    <script src="/js/vendor-all.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/pcoded.min.js"></script>

    
    <!-- Data tables.js -->
    <!-- <script src="/plugins/data-tables/js/datatables.min.js"></script> -->

    <!-- <script type="text/javascript">
      setTimeout(function () {
        $("#simpletable").DataTable();
      }, 600);
    </script> -->
  </body>
</html>
